[2020-10-06 16:38] fengyuanyang opened #1 "Start Project with gradle"
## Description

- Generate gradle file - build.gradle
- Dependency with mockito, junit5

[2020-10-08 09:55] fengyuanyang commented on #1
done

[2020-10-08 09:55] #1 closed

[2020-10-08 10:07] fengyuanyang opened #2 "Add Java CI with Gradle for every pull request"
**BackGround**
As a developer , I would like to have a quality assurance, once the test failed, I need to fix the issues.

**How**
Support CI, doing all tests and check , fail then not able to be merged.

**Definition of Done**
* [x] hook a Java CI with gradle test when pr is requesting to main branch

[2020-10-08 10:17] fengyuanyang opened #3 "README file need to update"
**BackGround**
As a person want to contribute, i need to read the README file and know how to make contribution and things need to take in mind.

**How**
Modify README file

**Definition of Done**
* [x] background section
* [x] scope section(might be rough is fine, like **exception**, **method**, **design pattern**)
* [x] ways to execute
* [x] ways to import

[2020-10-11 06:28] #3 closed

[2020-10-11 06:31] fengyuanyang opened #7 "Hello World to TDD world"
**BackGround**
As a developer , I would like to know and test several ways to say "Hello world"

**How**
Using parameter to say Hello world,

**Definition of Done**
Test all the ways to say Hello world.

[2020-10-12 04:29] fengyuanyang opened #9 "TypeCasting and unitTests"
**Background**
It's a good start to learn some java casting.

**How**.
Write TypeCastingTest with unit tests, with Widening Casting and Narrowing Casting
Implement TypeCasting class with several methods to do Widening Casting and Narrowing Casting

**DoD**
All the unittests include all the types mentioned in [Reference ](https://www.w3schools.com/java/java_type_casting.asp)

[2020-10-12 09:59] fengyuanyang opened #10 "TDD on Conditions"
**Background**
It's a good start to learn some java Conditions.

**How**
Write ConditionTest unit tests,
includes conditions
[code]

**DoD**
All the unittests include all the conditions mentioned above

[2020-10-12 10:01] #7 closed

[2020-10-12 10:02] fengyuanyang opened #11 "CONTRIBUTING.md required"
TBD

[2020-10-12 10:11] fengyuanyang opened #12 "TDD on Statements"
**Background**
It's a good start to learn some java Statements.

**How**
Write StatementsTest unit tests,
includes statements
[code]
**DoD**
All the unittests include all the statements mentioned above

[2020-10-12 10:13] fengyuanyang opened #13 "TDD on While Loop"
**Background**
It's a good start to learn some While Loop.

**How**
Write WhileLoopTest unit tests,

[code]

**DoD**
All the unittests include while loop

[2020-10-12 10:16] fengyuanyang opened #14 "TDD on For Loops"
**Background**
It's a good start to learn some java For Loops.

**How**
Write ForLoopTest unit tests,
includes

[code]
**DoD**
All the unittests include all the statements mentioned above

[2020-10-12 11:33] Shweta200126 commented on #14
Can you explain a little more ...

[2020-10-12 13:58] fengyuanyang commented on #14
Hi @Shweta200126
Thanks for asking .
There are two types of for loops

1. Java For loop
2. For-each loop

You could create some unit tests first such as

**For Java For Loop**
[code]

**For Java For-Each Loop**
[code]

[2020-10-13 01:59] fengyuanyang commented on #2
gradle.yml is added to .github/workflows folder.

https://github.com/fengyuanyang/JavaTDD/blob/main/.github/workflows/gradle.yml

It should automatic check test for all the requests tend to merge to main branch

[2020-10-13 02:03] fengyuanyang opened #16 "Issue template required"
**Background**
In order to manage all the issues efficiently, it's mandatory to have some issue templates for

1. ISSUE_TEMPLATE
2. PULL_REQUEST_TEMPLATE

Please refer to templates introduction below
https://docs.github.com/en/free-pro-team@latest/github/building-a-strong-community/configuring-issue-templates-for-your-repository

## PULL_REQUEST_TEMPLATE
**Description**
Please include a summary of

[2020-10-13 02:05] fengyuanyang commented on #2
Going to check on next pull request

[2020-10-13 02:05] #2 closed

[2020-10-13 02:05] fengyuanyang commented on #13
merged , close

[2020-10-13 02:05] #13 closed

[2020-10-13 02:10] fengyuanyang opened #17 "WhileLoop is missing"
WhileLoop object is missing
so the unit test WhileLoopTest will fall for now
Need to fix it

[2020-10-13 02:32] #17 closed

[2020-10-13 03:45] btirumala1219 commented on #14
I can take a look at this

[2020-10-13 04:02] fengyuanyang commented on #14
Thanks @btirumala1219
I have assigned to you

[2020-10-13 04:06] btirumala1219 commented on #14
https://github.com/fengyuanyang/JavaTDD/pull/19

[2020-10-13 04:18] #14 closed

[2020-10-13 04:22] btirumala1219 commented on #14
lmk if anything else you can assign

[2020-10-13 04:50] ravidyarev commented on #11
Can you please assign this issue to me. Let me know the requirements.

[2020-10-13 05:35] Adithya-adi-Menon commented on #11
Issue

[2020-10-13 06:58] AbhishekTiwari07 commented on #10
how can i help you with this issue

[2020-10-13 07:29] DeepaliKalagate commented on #12
I am interested to do this. Please assign to me

[2020-10-13 10:24] fengyuanyang commented on #12
Assigned
Thanks @DeepaliKalagate

[2020-10-13 10:47] MERCUROUS commented on #12
please merge it has not added in my hactoberfest PR

[2020-10-13 13:57] mcruzdev commented on #10
Can you assign this to me?

[2020-10-13 14:03] mcruzdev commented on #9
@fengyuanyang can I get that?

[2020-10-13 14:31] liun03 opened #24 "Need to check code style in ci-flow"
Suggestion code style: [google java code style](https://github.com/google/styleguide/blob/gh-pages/intellij-java-google-style.xml)
How to: https://docs.gradle.org/current/userguide/checkstyle_plugin.html

[2020-10-13 15:13] fengyuanyang commented on #16
Hi @kaash-bot
I have tried to make a template first.
Could you have a check on it , maybe you have some brilliant idea on TDD or the template , welcome to correct/modify it .

[2020-10-13 15:22] fengyuanyang commented on #10
Sure, @mcruzdev

[2020-10-13 16:12] fengyuanyang commented on #9
sure @mcruzdev
Thanks , go head, assigned

[2020-10-13 16:27] #9 closed

[2020-10-13 16:47] fengyuanyang opened #27 "TDD for switch"
**Description**
Unit tests for Switch

Test cases below
[code]
**Additional context**
Add any other context, links references or screenshots about the feature request here.

**Important Checklist**
-   [ ] I have written unit test first, make it red(fail first).
-   [ ] I have then written logic code, make it green(success)
-   [ ] I have tried to refactor my code, make it understandable(document

[2020-10-13 16:48] mcruzdev opened #28 "An error occurred in one of my PRs"
@fengyuanyang
An error occurred in one of my PRs, I did not create a branch in my origin to work separately and ended up committing two commits of two different features and deleted the file from one PR through GitHub and ended up deleting the other in merge process.

[2020-10-13 16:50] mcruzdev commented on #28
[code]

and

[code]

[2020-10-13 16:51] mcruzdev commented on #27
Assign to me @fengyuanyang, please ;)

[2020-10-13 16:52] sahaparamjit commented on #27
can you assign to me ?

[2020-10-13 16:55] fengyuanyang commented on #16
sure , that's fine ! we might add some more information later.
I am learning TDD as well

[2020-10-13 17:09] fengyuanyang commented on #27
Hi @sahaparamjit
Sure, go ahead and code it !

[2020-10-13 17:11] fengyuanyang commented on #27
Hi @mcruzdev
I would like to give others a try since you are pretty good in other issues.
BTW, you are welcome to create issues here , with some TDD cases , anything on you mind is welcome

[2020-10-13 17:29] fengyuanyang opened #30 "TDD for Break And Continue(For loop)"
**Description**
Unit tests for Break and Continue
Include For loop

Test cases below
[code]
**Additional context**
Add any other context, links references or screenshots about the feature request here.

**Important Checklist**
-   [ ] I have written unit test first, make it red(fail first).
-   [ ] I have then written logic code, make it green(success)
-   [ ] I have tried to refactor my code, mak

[2020-10-13 17:36] fengyuanyang opened #31 "Test Coverage required"
**Briefly**
As a developer, I would like to know how is the coverage number of these TDD codes

Any Suggestion is welcome

[2020-10-13 17:49] mcruzdev opened #32 "TDD for calculator object"
We need to a calculator object, **without to use static method**

To create a calculator with the operations ( +, -, *, / )

10 + 10 = 20
15 - 10 = 5
10 * 1 = 10;
8 / 2 = 4;
10 / 0 -> In this case you can use `Assertions.assertThatThrownBy` because the operation by zero throws a ArithmeticException
[code]

[2020-10-13 18:17] mcruzdev commented on #32
@fengyuanyang can you add label or a suggestion for this issue?

[2020-10-13 18:41] bullishking commented on #30
I work on this issue

[2020-10-13 22:57] ipapast commented on #31
Added proposed tool for that purpose with [PR 36](https://github.com/fengyuanyang/JavaTDD/pull/36). This is Jacoco, the most used and up to date tool for Java currently.

[2020-10-14 01:38] btirumala1219 commented on #32
Working on this

[2020-10-14 01:46] fengyuanyang commented on #30
Thanks , assigned

[2020-10-14 01:52] btirumala1219 commented on #32
https://github.com/fengyuanyang/JavaTDD/pull/37

[2020-10-14 02:22] fengyuanyang commented on #31
Thanks @ipapast
Now we are able to make sure the coverage rate is over 90 % 👍

[2020-10-14 02:23] #31 closed

[2020-10-14 02:29] fengyuanyang commented on #28
Since Show Casting is merged, issue closed

[2020-10-14 02:29] #28 closed

[2020-10-14 03:05] fengyuanyang commented on #32
I think
[code]
might be more clear for the code should be same as
[code]

[2020-10-14 03:49] btirumala1219 commented on #32
@fengyuanyang Updated

[2020-10-14 04:57] btirumala1219 commented on #32
PR has been updated

[2020-10-14 07:49] januslinhc commented on #24
I would like to work on this issue @liun03

[2020-10-14 09:57] januslinhc commented on #24
@liun03 done. Please merge @fengyuanyang

[2020-10-14 11:38] #24 closed

[2020-10-14 13:37] januslinhc opened #41 "Test Coverage check in CI"
Test Coverage check in CI with minimum 95% thresholds (Code coverage should be high since we are following TDD practice). Throw exception if violated.

[2020-10-14 14:11] fengyuanyang opened #42 "[SPIKE] spotless or checkstyle"
**Background**
Check coding style by using **gradle check** might be time consuming for users.
Need to import [checkstyle.xml ](config/checkstyle/checkstyle.xml) and execute **gradle check**.
Then check that html file and format corresponding files one by one.
We might consider another way to make code style consistent.

**How**
Spotless might be a good way
tor format the code (with the Gradle tas

[2020-10-14 15:28] januslinhc commented on #42
But Checkstyle has plugins for IDEs like Intellij Idea and VSCode...

[2020-10-14 15:42] fengyuanyang commented on #42
you prefer checkstyle? I how do you think?
Is there a proper way to avoid user commit a code without blocked in CI and need to commit another one just for formatting the style?

[2020-10-14 15:43] fengyuanyang commented on #42
Just now there is one developer try to file a pr and is blocked in checkstyle here
https://github.com/fengyuanyang/JavaTDD/pull/40

[2020-10-14 15:52] januslinhc commented on #42
That depends on your configuration in your build.gradle.
Currently, the contributors required to submit the code which meet Google style requirement in order to make the code in our repository consistent.
However, you can disable this restriction.

[2020-10-14 16:15] #41 closed

[2020-10-14 16:23] fengyuanyang commented on #42
well, do you mind ignoring failures for now , i would like not to block user's pull request.
I mean, it's great for now to follow the style , but i don't mean to enforce them. I will they can enjoy writing tests.

[2020-10-14 16:25] januslinhc commented on #42
Sure, I will disable it.

[2020-10-14 16:36] fengyuanyang commented on #11
Thanks @Adithya-adi-Menon

[2020-10-14 16:36] #11 closed

[2020-10-14 16:53] #16 closed

[2020-10-14 17:33] fengyuanyang opened #46 "TDD for Break And Continue(While loop)"
**Description**
Unit tests for Break and Continue
Include For loop

Test cases below
[code]
**Additional context**
Add any other context, links references or screenshots about the feature request here.

**Important Checklist**
-   [ ] I have written unit test first, make it red(fail first).
-   [ ] I have then written logic code, make it green(success)
-   [ ] I have tried to refactor my code, mak

[2020-10-14 17:56] januslinhc commented on #46
Hi @fengyuanyang i would like to work on this issue

[2020-10-15 01:30] fengyuanyang commented on #46
@januslinhc  Sure 👍

[2020-10-15 03:55] januslinhc commented on #46
hi @fengyuanyang
for the while loop break,
may i know why if we break the loop at 10 it should return 10 while if we break the loop at 7 it should return 6??

[2020-10-15 04:08] atshaya-anand opened #47 "TDD for fibonacci series"
Hi, I have the solution for Fibonacci series
Please assign this to me.

[2020-10-15 04:13] #47 closed

[2020-10-15 04:52] atshaya-anand opened #48 "TDD for last term in fibonacci series"
I have the solution for this.
Please assign this to me

[2020-10-15 05:49] charchithere commented on #48
hello! I want to work on this. Pls assign it to me

[2020-10-15 06:31] fengyuanyang commented on #46
good question! it's my bad, i didn't put the number right ! i fix it .

[2020-10-15 06:32] fengyuanyang commented on #47
Hi @atshaya-anand  are you going to continue on this series?

[2020-10-15 06:35] atshaya-anand commented on #47
Yes sir, I've the solution and also opened an issue for that. Please assign that to me

[2020-10-15 08:32] atshaya-anand commented on #48
Done the PR, but build failure

[2020-10-15 08:32] #48 closed

[2020-10-15 09:41] fengyuanyang opened #51 "TDD[Design Pattern] Factory Pattern"
**Description**
Let get start with design patten !
`Factory Pattern`

[code]
**Additional context**

Add any other context, links references or screenshots about the feature request here.

**Important Checklist**
- [ ] I have written unit test first, make it red(fail first).
- [ ] I have then written logic code, make it green(success)
- [ ] I have tried to refactor my code, make it understandable(

[2020-10-15 09:53] fengyuanyang opened #52 "[Design Pattern] Factory Pattern - Car"
**Description**
Everyone is welcome to take this issue, enjoy TDD with design pattern

Let get start with design patten !
`Factory Pattern`
If you have no idea Factory Pattern is
Check [here](https://levelup.gitconnected.com/learn-the-factory-pattern-in-a-clean-simple-animal-application-35fa23aa40e2)

package at
`com.ordestiny.tdd.designpattern.factorypattern`
[code]
**Additional context**

Add an

[2020-10-15 12:46] motabhai-bhagwaan commented on #51
Hi,

Can you please assign me this issue?

[2020-10-15 12:57] frosse commented on #52
Hi, could you please assign this to me?

[2020-10-15 13:19] fengyuanyang commented on #52
sure, @frosse
enjoy it 👍

[2020-10-15 13:19] fengyuanyang commented on #51
sure @motabhai-bhagwaan

[2020-10-15 15:40] fengyuanyang commented on #46
it should be "continue" not break , typo
sorry

[2020-10-15 16:00] fengyuanyang opened #54 "[TDD] Kata - integer range contains"
**Description**
There are some interesting samples to play with TDD - [Kata-Range](https://codingdojo.org/kata/Range/)

Try to play with `integer ranger contains`

**original requirements**
[code]

For java
[code]
**Additional context**

Add any other context, links references or screenshots about the feature request here.

**Important Checklist**
- [ ] I have written unit test first, make it red(

[2020-10-15 16:02] fengyuanyang commented on #46
Hi @januslinhc
sorry , it's not easy to make sample logical all correct.
I will start to get some better practice from kata.

[2020-10-15 16:03] liun03 opened #55 "TDD for leap year"
**Description**

Check leap year.
[Algorithm](https://en.wikipedia.org/wiki/Leap_year#Algorithm)

[code]
**Additional context**

Add any other context, links references or screenshots about the feature request here.

**Important Checklist**
- [ ] I have written unit test first, make it red(fail first).
- [ ] I have then written logic code, make it green(success)
- [ ] I have tried to refactor my c

[2020-10-15 16:08] fengyuanyang opened #56 "[TDD] Kata - getAllPoints"
**Description**
There are some interesting samples to play with TDD - [Kata-Range](https://codingdojo.org/kata/Range/)

Try to play with `get All points`
This one should be good start for someone just get started on TDD.

**original requirements**
[code]

For java
[code]
**Additional context**

Add any other context, links references or screenshots about the feature request here.

**Important Chec

[2020-10-15 16:36] fengyuanyang opened #57 "[TDD] Kata - ContainsRange"
**Description**
There are some interesting samples to play with TDD - [Kata-Range](https://codingdojo.org/kata/Range/)

Lets play with `ContainsRange `

**original requirements**
[code]

For java
[code]
**Additional context**

Add any other context, links references or screenshots about the feature request here.

**Important Checklist**
- [ ] I have written unit test first, make it red(fail first)

[2020-10-15 16:52] fengyuanyang opened #58 "[TDD] Kata - overlapsRange"
**Description**
There are some interesting samples to play with TDD - [Kata-Range](https://codingdojo.org/kata/Range/)

Lets play with `overlapsRange `

**original requirements**
[code]

For java
[code]
**Additional context**

Add any other context, links references or screenshots about the feature request here.

**Important Checklist**
- [ ] I have written unit test first, make it red(fail first)

[2020-10-15 17:00] fengyuanyang opened #59 "[TDD] Kata - Equals"
**Description**
There are some interesting samples to play with TDD - [Kata-Range](https://codingdojo.org/kata/Range/)

Lets play with `Equals `

**original requirements**
[code]

**For java**
[code]
**Additional context**

Add any other context, links references or screenshots about the feature request here.

**Important Checklist**
- [ ] I have written unit test first, make it red(fail first).
-

[2020-10-15 17:03] #10 closed

[2020-10-15 17:29] fengyuanyang opened #60 "Fix Conditions test coverage"
**Description**

Fix Conditions coverage rate is not passing iss

`Execution failed for task ':jacocoTestCoverageVerification'.

`

[2020-10-15 17:37] #60 closed

[2020-10-15 17:46] deepharshsri commented on #59
Hey can you assign me to this?

[2020-10-16 02:39] #46 closed

[2020-10-16 09:23] hgky95 commented on #56
Hi @fengyuanyang
I'm so excited about this one, please assign it to me. Thank you!

[2020-10-16 09:36] fengyuanyang commented on #56
Sure @hgky95  , assigned

[2020-10-16 16:03] #56 closed

[2020-10-17 04:16] #52 closed

[2020-10-17 04:43] snjazim commented on #58
Please assign this to me.

[2020-10-17 04:44] snjazim commented on #57
Please assign this to me.

[2020-10-17 08:06] fengyuanyang opened #66 "[TDD] Kata - Diamond"
**Description**
The requirement for this issue is to print a diamond
[Kata-Dimond](https://codingdojo.org/kata/Diamond/)

you can follow this reference to enjoy TDD. Fail-> Pass -> Fail -> Pass
[Reference](http://claysnow.co.uk/recycling-tests-in-tdd/)

We would like to make it simpler to check its repeat characters.
[code]
**Additional context**

Add any other context, links references or screens

[2020-10-17 08:54] farzado commented on #66
Can you assign this to me pls?

[2020-10-17 09:56] fengyuanyang commented on #66
sure

[2020-10-17 09:59] fengyuanyang opened #68 "[TDD] Kata - FizzBuzz"
**Description**
[Kata-FizzBuzz](https://codingdojo.org/kata/FizzBuzz/)

Write a program that prints the numbers from 1 to 100. But for multiples of three print “Fizz” instead of the number and for the multiples of five print “Buzz”. For numbers which are multiples of both three and five print “FizzBuzz “.

[code]
**Additional context**

Add any other context, links references or screenshots about

[2020-10-17 11:03] vicbl commented on #68
Can you assign this to me please ?

[2020-10-17 11:51] fengyuanyang commented on #68
sure @vicbl

[2020-10-17 12:20] motabhai-bhagwaan commented on #51
Hi,

Is it okay if instead of how it barks method, I will be using two other methods:
1. How many legs does the animal have?
2. What type of group the animal is in?

Also, I had a doubt about BAT. It is also a mammal, right? Then why do we throw exception?
Thanks.

[2020-10-17 12:28] fengyuanyang opened #69 "[TDD] Kata - Bowling"
**Description**
To calculate bowling game scores.
[Kata-bowling](https://codingdojo.org/kata/Bowling/)

We can briefly summarize the scoring for this form of bowling:

Each game, or “line” of bowling, includes ten turns, or “frames” for the bowler.

- In each frame, the bowler gets up to two tries to knock down all the pins.
- If in two tries, he fails to knock them all down, his score for that fr

[2020-10-17 12:34] fengyuanyang commented on #51
It should also be animal!! should not throw exception , i fix it .

[2020-10-17 12:43] #55 closed

[2020-10-17 14:10] #12 closed

[2020-10-17 14:11] fengyuanyang commented on #27
hi @sahaparamjit  are you still working on it ? otherwise , i will assign to others

[2020-10-17 14:13] fengyuanyang commented on #30
Hi @bullishking  are you still working on it ?

[2020-10-17 14:47] fengyuanyang opened #71 "[TDD] Kata - Number -> Roman Numerals"
**Description**
Provide a converter convert from normal numbers to Roman Numerals
[Kata-Roman Numerals](https://codingdojo.org/kata/RomanNumerals/)

The largest input for this case should be 3999

Roman rules
http://www.novaroma.org/via_romana/numbers.html

     1 --> I
     10 --> X
     7 --> VII
     31 --> XXXI

Tests
[code]
**Additional context**

Add any other context, links references or sc

[2020-10-17 14:49] A-Annan commented on #71
Could you assign it to me

[2020-10-17 14:53] fengyuanyang commented on #71
Sure, assigned

[2020-10-17 15:00] motabhai-bhagwaan commented on #51
Hi,

I have made PR. Please confirm.

[2020-10-17 15:03] fengyuanyang commented on #71
Just update some typos and 1 test

[2020-10-17 15:03] fengyuanyang opened #73 "[TDD] Kata - Roman Numerals -> Numbers"
**Description**
Provide a converter convert from Roman Numerals to normal numbers
[Kata-Roman Numerals](https://codingdojo.org/kata/RomanNumerals/)

Roman rules
http://www.novaroma.org/via_romana/numbers.html

     I --> 1
     X --> 10
     VII --> 7
     XXXI -> 31

Tests
[code]
**Additional context**

Add any other context, links references or screenshots about the feature request here.

**Impo

[2020-10-17 16:27] fengyuanyang opened #74 "[TDD] Kata - String Calculator"
**Description**
Provide a string as parameter, return a string after calculating by calculator.
[Kata-String Calculator](https://codingdojo.org/kata/StringCalculator/)

The method can take 0, 1 or 2 numbers separated by any separators defined, and returns their sum.
An empty string will return “0”.

**pattern of input "//[delimiter]\n[numbers]"**

original test
[code]

Tests
[code]
**Additional co

[2020-10-17 16:59] deepharshsri commented on #68
hey can you assign me to this?

[2020-10-17 17:45] seanevans-test commented on #73
Hi, I'd like to take this issue

[2020-10-17 17:53] fengyuanyang commented on #73
sure @seanevans-test
assigned

[2020-10-17 17:53] seanevans-test commented on #73
Brilliant, thank you

[2020-10-17 19:33] kwong21 commented on #74
Hi @fengyuanyang ,

I can take this issue. May I have this assigned to me?

Thanks!

[2020-10-17 23:00] ramonborges15 commented on #54
@fengyuanyang can you assigned it to me?

[2020-10-17 23:19] farzado commented on #69
Pls assign this one to me as well.

[2020-10-18 01:18] fengyuanyang commented on #69
assigned @farzado

[2020-10-18 01:19] fengyuanyang commented on #54
sure, @ramonborges15
assigned

[2020-10-18 03:24] fengyuanyang commented on #74
hi @kwong21 , sure

[2020-10-18 04:50] fengyuanyang opened #75 "[TDD] Kata - RPN Calculator"
**Description**
[RPN](https://en.wikipedia.org/wiki/Reverse_Polish_notation)(Reverse Polish Notation )

Provide a RPN Calculator (**Lets narrow to + - * /** ).
[Kata-RPN Calculator](https://codingdojo.org/kata/RPN/)

An RPN expression or postfix expression is one of the following :
- a number X, in wich case the value of the expression is that of X,
- a sequence of form E1 E2 OP where E1 and E2 ar

[2020-10-18 05:09] snjazim commented on #75
Please assign this to me.

[2020-10-18 05:30] fengyuanyang commented on #75
Hi @snjazim , I saw you have two other issues are in progress.
I might just leave it to others for now.

[2020-10-18 07:28] snjazim commented on #58
Hi, @fengyuanyang, I don't have the access to create PR for this repo.
[code]

[2020-10-18 08:18] snjazim opened #76 "Issue #58 overlaps range"
**Description**

Please include a summary of the changes you have made in regard with this issue.
Ex. - Fixes #(issue number)

**Checklist**

- [ ] I have read the contribution guidelines before making this PR.
- [ ] I have followed unit tests naming conventions - **MethodName_StateUnderTest_ExpectedBehavior**
- [ ] I have tried to keep my code clean
- [ ] I have named my methods and variables und

[2020-10-18 08:19] #76 closed

[2020-10-18 08:26] fengyuanyang opened #77 "[TDD] Kata - Dictionary replacer"
**Description**
A simple string replacer, replace all the strings match the Dictionary Key  with Dictionary Value.

[Kata-Dictionary Replacer](https://codingdojo.org/kata/DictionaryReplacer/)

Tests
[code]
**Additional context**

Add any other context, links references or screenshots about the feature request here.

**Important Checklist**
- [ ] I have written unit test first, make it red(fail fir

[2020-10-18 08:33] fengyuanyang commented on #58
Hi @snjazim
You may have a look on this video for first pr for beginner(on open source)

https://hacktoberfest.digitalocean.com/details

You should create a branch on your own repo and request a pr

[2020-10-18 09:39] deepharshsri commented on #68
Hey in which brach I have send PR?

[2020-10-18 09:49] fengyuanyang commented on #68
@deepharshsri wants to merge 1 commit into fengyuanyang:main from deepharshsri:main

Any branch from you side, just create a pr from your banch to fengyuanyang:main

You may have a look on this video for first pr for beginner(on open source)

https://hacktoberfest.digitalocean.com/details

[2020-10-18 11:38] I3han commented on #75
@fengyuanyang hey can you assign me for this

[2020-10-18 14:04] fengyuanyang commented on #75
Hi @I3han  , sure
asisgned

[2020-10-18 15:58] #66 closed

[2020-10-18 17:29] deepharshsri commented on #75
Hey, can you assign me to this?

[2020-10-18 20:11] snjazim commented on #77
Please assign this to me.

[2020-10-18 21:53] A-Annan commented on #71
The largest number we can write in Roman numerals is 3,999 which is MMMCMXCIX?

[2020-10-19 00:12] farzado commented on #30
@fengyuanyang Pls assign this to me, should be able to get it done quickly.

[2020-10-19 00:32] A-Annan commented on #71
@fengyuanyang ?

[2020-10-19 01:36] fengyuanyang commented on #71
HI @A-Annan
yes, for this test case, we can just define the largest number is 3999.

And, that' right , 3999 is MMMCMXCIX
https://www.rapidtables.com/convert/number/roman-numerals-converter.html?x1=&x2=3999

[2020-10-19 01:53] fengyuanyang commented on #30
sure, @farzado
Thanks 👍

[2020-10-19 03:26] kwong21 commented on #74
PR for issue - #84

[2020-10-19 05:22] farzado commented on #27
Can you assign this to me pls @fengyuanyang?

[2020-10-19 06:39] fengyuanyang opened #86 "[Concurrent] In Swimming class - CountDownLatch"
**Description**
[`CountDownLatch`](https://levelup.gitconnected.com/deep-dive-countdownlatch-in-java-d33c43f91438) in Java is a kind of synchronization mechanism
which allows one Thread to wait for one or more Threads before starts processing.

**Question**
There is a swimming class(with x members), all of them start to swim at the same time.

Provide a **Swim** class with **start** function, so p

[2020-10-19 06:41] #30 closed

[2020-10-19 07:10] surejaviren commented on #77
**please assign this task to me**

[2020-10-19 07:14] surejaviren commented on #86
**please assign this to me**

[2020-10-19 07:18] fengyuanyang commented on #86
Sure, @surejaviren
Thanks 👍

[2020-10-19 07:21] fengyuanyang commented on #58
pr merged

[2020-10-19 07:21] #58 closed

[2020-10-19 15:35] #27 closed

[2020-10-20 06:45] #57 closed

[2020-10-20 15:13] fengyuanyang opened #91 "Relocate - package path for LeapYear"
**Description**
Currently LeapYear locates outside our package path ,
Relocate it

[2020-10-20 15:30] #91 closed

[2020-10-20 16:02] fengyuanyang opened #93 "[Concurrent] Crowded Road - Executors.newFixedThreadPool"
**Description**
Provide a ThreadPool that can allow only specific number of cars to get through at once.
[ExecutorService](https://www.baeldung.com/java-executor-service-tutorial)

**Scenario**
The traffic is pretty bad and crowded, only limited number cars can get through

[code]
**Additional context**

Add any other context, links references or screenshots about the feature request here.

**Impo

[2020-10-20 16:09] snjazim commented on #93
I can help here. Please assign this to me.

[2020-10-20 16:15] fengyuanyang commented on #86
Hi @viren-sureja  are you still working on this one ?

[2020-10-20 17:08] fengyuanyang opened #94 "[Algorithm] binary search"
**Description**
Provide a function that implements **binary search**
[Binary Search](https://medium.com/better-programming/three-smart-ways-to-use-binary-search-in-coding-interviews-250ba296cb82)

[code]
**Additional context**

Add any other context, links references or screenshots about the feature request here.

**Important Checklist**
- [ ] I have written unit test first, make it red(fail first

[2020-10-20 17:27] Tegridy commented on #94
Hi, could you assign me please ?

[2020-10-20 17:35] fengyuanyang commented on #94
sure @Tegridy

[2020-10-21 05:51] snjazim commented on #86
Could you assign this to me?

[2020-10-21 06:33] #94 closed

[2020-10-21 06:35] fengyuanyang commented on #93
Hi @snjazim
Sure

[2020-10-21 13:59] #69 closed

[2020-10-21 16:27] #71 closed

[2020-10-21 16:37] A-Annan commented on #71
@fengyuanyang could you add the hacktoberfest-accepted tag to this issue

[2020-10-21 16:57] fengyuanyang opened #96 "[TDD] Kata - FooBarQix"
**Description**
[Kata-FooBarQix](https://codingdojo.org/kata/FooBarQix/)
You should implement a function String compute(String) which implements the following rules.
(This one is similar to FizzBuzz)

Rules
- If the number is divisible by 3, write “Foo” instead of the number
- If the number is divisible by 5, add “Bar”
- If the number is divisible by 7, add “Qix”
- For each digit 3, 5, 7, add “Foo

[2020-10-21 17:27] fengyuanyang opened #97 "[Algorithm] bubble sort"
**Description**
Provide a function that implements **bubble sort**

Example:
[code]

[code]
**Additional context**

Add any other context, links references or screenshots about the feature request here.

**Important Checklist**
- [ ] I have written unit test first, make it red(fail first).
- [ ] I have then written logic code, make it green(success)
- [ ] I have tried to refactor my code, make it

[2020-10-21 17:36] fengyuanyang opened #98 "[Algorithm] Linear Search"
**Description**
Provide a function that implements **Liner Search**

Example:
[code]

[code]
**Additional context**

Add any other context, links references or screenshots about the feature request here.

**Important Checklist**
- [ ] I have written unit test first, make it red(fail first).
- [ ] I have then written logic code, make it green(success)
- [ ] I have tried to refactor my code, make it

[2020-10-21 17:45] fengyuanyang opened #99 "Find the Missing Number"
**Description**

Provide a function to find a missing number, these numbers(integer) are in the range of 1 to n.

**Approach**
The length of the array is n-1. So the sum of all n elements, i.e sum of numbers from 1 to n can be calculated using the formula n*(n+1)/2. Now find the sum of all the elements in the array and subtract it from the sum of first n natural numbers, it will be the value of th

[2020-10-21 18:07] Manasa1013 commented on #99
Hey!I am working on this, can you assign it to me?

[2020-10-21 18:35] viren-sureja commented on #86
ohh sorry sir got stuck in some work.

[2020-10-21 20:06] mansiwagh05 commented on #98
Hi @fengyuanyang can I work on this?

[2020-10-22 00:07] fengyuanyang commented on #99
sure @Manasa1013

[2020-10-22 00:08] fengyuanyang commented on #98
sure, @mansiwagh05

[2020-10-22 00:10] #77 closed

[2020-10-22 00:14] apri44 commented on #99
you'll have to be assigned to some issue before working on it?

[2020-10-22 02:06] snjazim commented on #97
I'm very interested to work on this issue. Please assign this to me.

[2020-10-22 06:12] motabhai-bhagwaan commented on #51
Hi, I have made the required changes, please check

[2020-10-22 16:32] fengyuanyang commented on #51
Hi @motabhai-bhagwaan
Thanks for your effort, however it's passing the coverage rate task, could you add some more tests?

[2020-10-22 16:33] fengyuanyang commented on #99
Hi @apri44
you are welcome to work on any issues , just let me know you are working on it .
Then I will add you as assignees.

[2020-10-22 16:36] manavbhikadiya commented on #98
i have the solution of the linear search problem to find out the particular key element from it. please assign this task to me..

[2020-10-22 16:37] manavbhikadiya commented on #97
please assign this task to me. I have the good knowledge about the sorting and searching algorithms..

[2020-10-22 19:26] audy910 commented on #99
Hi! I would like to work on this as well, if possible.

[2020-10-23 01:39] #54 closed

[2020-10-23 02:05] fengyuanyang commented on #99
Sure
go ahead

[2020-10-23 03:55] motabhai-bhagwaan commented on #51
I tried again but it is not able to pass coverage test, it seems to me that I will need to add 7 more tests to pass coverage test. But this will defeat the purpose since these tests would be quite useless and they would be there just to pass coverage score. I have already added the necessary tests in the file, can you please check them and merge this PR if possible?

Thanks and Regards,
Motabhai

[2020-10-23 17:44] fengyuanyang opened #109 "[Algorithm] Interpolation Search"
**Description**

Provide a function that implements **Interpolation Search**

[code]
**Algorithm**
Rest of the Interpolation algorithm is the same except the above partition logic.

- Step1: In a loop, calculate the value of “pos” using the probe position formula.
- Step2: If it is a match, return the index of the item, and exit.
- Step3: If the item is less than arr[pos], calculate the probe posi

[2020-10-23 23:48] ldrf commented on #109
Hi! can I work in this?
Another question, can i supposed that array will always sorted?

[2020-10-24 01:01] fengyuanyang commented on #109
Hi @ldrf
Sure,
if the array is not sorted, please throw illegalArgument exception

[2020-10-24 05:19] irohitsatya commented on #98
@fengyuanyang can I raise a PR for this?

[2020-10-24 16:35] Yasas4D commented on #99
Hi, as no one completed this, I implemented the function
Please take the pull request
Thank you

[2020-10-24 16:36] #98 closed

[2020-10-25 07:30] #109 closed

[2020-10-25 08:29] fengyuanyang opened #116 "[Algorithm] Ternary Search"
**Description**
Provide a function that implements **Ternary Search**

Similar to binary search where we divide the array into two parts but in this algorithm, we divide the given array into three parts and determine which has the key (searched element)

[code]
**Algorithm**
Steps to perform Ternary Search:

- First, we compare the key with the element at mid1. If found equal, we return mid1.
- If

[2020-10-25 16:32] #32 closed

[2020-10-25 16:38] fengyuanyang commented on #51
Hi @motabhai-bhagwaan
you can execute gradle Task "jacocoTestReport" and check the output index.html(local at build/customJacocoReportDir)

[2020-10-25 16:47] fengyuanyang commented on #74
Hi @kwong21
I have left some comments on you PR, do you still want to proceed on this.?

[2020-10-25 16:49] fengyuanyang commented on #86
Hi @viren-sureja
I would like to unassign this issue , just leave comment if you are ready to work on this

[2020-10-25 16:50] fengyuanyang commented on #93
Hi @snjazim
Are you still working on this ?

[2020-10-25 17:38] kwong21 commented on #74
Hey @fengyuanyang ,

Yes, of course!
I am looking at the PR but I don't see any comments on PR #84

[2020-10-25 17:54] singloon commented on #116
Hi @fengyuanyang can I get this issue assigned to me?

[2020-10-26 01:38] fengyuanyang commented on #74
https://github.com/fengyuanyang/JavaTDD/pull/84
can you see any of my comments here ?

[2020-10-26 01:39] fengyuanyang commented on #116
Sure, @singloon

[2020-10-26 01:43] kwong21 commented on #74
Yes I can see your comments here

[2020-10-26 13:32] ramonborges15 commented on #59
@fengyuanyang Can you assign it to me?

[2020-10-26 15:05] fengyuanyang commented on #59
Hi @ramonborges15
Sure

[2020-10-26 15:19] audy910 commented on #68
Hi, can I be assigned please?

[2020-10-27 00:59] singloon commented on #116
Please can you review my PR @fengyuanyang

[2020-10-27 03:19] fengyuanyang commented on #116
Hi @singloon
I have left some comments on this PR

[2020-10-27 05:45] snjazim commented on #93
Hi @fengyuanyang
Yes I'm working on it. I'm working on concurrency after a long time, so it is taking time.

[2020-10-27 05:47] snjazim commented on #97
Please can you review my PR @fengyuanyang

[2020-10-27 08:40] singloon commented on #116
Hi @fengyuanyang I don’t see any comments on the PR.

[2020-10-27 08:59] singloon commented on #116
Can you please add the comments to the PR, so I know what needs to change. Referencing the code? As part the refactoring I changed from recursion to iteration as it is faster and uses less memory (stack) for Java.

[2020-10-27 09:45] fengyuanyang commented on #116
I don't know why , but i did leave comments there
![image](https://user-images.githubusercontent.com/3124499/97284564-26bf1380-187c-11eb-9a8e-9ab6b086af26.png)

[2020-10-27 09:53] singloon commented on #116
Hi @fengyuanyang, from the screenshot I can see that the comment is pending. So it’s only visible to you.

[2020-10-27 09:56] singloon commented on #116
https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/reviewing-proposed-changes-in-a-pull-request

[2020-10-27 12:13] fengyuanyang commented on #116
Hi @singloon
sorry , you are right !! I didn't know how this works!! Thanks for addressing this issue
Now it should be visible to you

[2020-10-27 13:17] #59 closed

[2020-10-27 14:12] #116 closed

[2020-10-27 22:29] IlGrotta commented on #73
Hi, I would like to work on this issue, also because I think find a way to convert roman numerals in an efficent and not-so-verbose way can be more interesting than expected.
Thanks!

[2020-10-28 01:51] fengyuanyang commented on #73
hi @IlGrotta
Sure, 👍  assigned

[2020-10-30 01:45] #96 closed

[2020-10-30 06:37] snjazim commented on #97
I have resolved the comment you have in the PR.
Please review my PR.

[2020-10-31 11:34] #97 closed

[2020-11-01 19:11] sahaparamjit commented on #75
@fengyuanyang
Please assign this to me

[2020-11-02 03:41] #74 closed

[2020-11-02 14:50] #86 closed

[2020-11-02 15:37] fengyuanyang commented on #75
Hi @sahaparamjit
Sure

[2020-11-02 15:38] fengyuanyang commented on #68
Hi @audy910
sorry i didn't see you leave comments here, do you still wanna work on this issue?

[2020-11-02 19:41] sahaparamjit commented on #75
@fengyuanyang
Please review #123

[2020-11-04 23:47] #75 closed

[2020-11-18 16:43] sahaparamjit commented on #93
@snjazim are you still working on it ?
@fengyuanyang can i take this if in case @snjazim is not working on it ?

[2020-11-20 02:58] fengyuanyang commented on #93
hi @sahaparamjit
sure

[2020-11-20 03:51] #99 closed

[2021-01-18 16:53] fengyuanyang opened #125 "As a developer , i would like to run application as Spring boot"
**Description**
Make this as a spring boot application .

**Requirement**
add dependency spring boot
Add main application
add actuator to test health and info

[2021-01-18 17:13] #125 closed

[2021-01-31 15:38] fengyuanyang opened #129 "As a developer, I would like to validate the input in controller"
**Description**
I would like to validate the input is valid or not by using the annotation, using Validation in spring boot
so developer doesn't have to check on its own , for instance , create own validation method

**Requirement**
using Validation
https://www.baeldung.com/spring-boot-bean-validation

A User object with fields - name , email, sex and phone number
name and email are mandatory

@No

[2021-01-31 16:47] #129 closed

[2021-02-16 01:43] fengyuanyang opened #131 "Way to calculate Distance between two Points"
**Description**
Give two points(x, y),
need a way to get distances

[code]
**Additional context**

Add any other context, links references or screenshots about the feature request here.

**Important Checklist**
- [ ] I have written unit test first, make it red(fail first).
- [ ] I have then written logic code, make it green(success)
- [ ] I have tried to refactor my code, make it understandable(do

[2021-02-28 10:18] fengyuanyang opened #132 "[TDD] separate Linked List with partition value"
**Description**

A LinkedList, with N elements,
each element has its value(integer)

given a partition value x, all the values in LinkedList must be separate into two parts,
values below x must be in left part, values above x must be in right part
[code]
**Additional context**

Add any other context, links references or screenshots about the feature request here.

**Important Checklist**
- [ ] I h

[2021-03-01 16:47] #132 closed

[2021-03-13 01:23] fengyuanyang opened #134 "Detect a cycle linkedlist node"
**Description**

Detect a cycle linkedlist node

[code]
**Important Checklist**
- [ ] I have written unit test first, make it red(fail first).
- [ ] I have then written logic code, make it green(success)
- [ ] I have tried to refactor my code, make it understandable(document my code)

[2021-03-15 17:19] #134 closed

[2022-01-01 17:03] Prathamesh-Thakur commented on #68
Hi, can I be assigned to this?